/*@font-face {
    font-family: 'TT';
    src: url('../fonts/tt_kurumsalreg-webfont.eot');
    src: url('../fonts/tt_kurumsalreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tt_kurumsalreg-webfont.woff') format('woff'),
         url('../fonts/tt_kurumsalreg-webfont.ttf') format('truetype'),
         url('../fonts/tt_kurumsalreg-webfont.svg#tt_kurumsalregreg') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

@font-face {
    font-family: 'pridimedium';
    src: url('../fonts/pridi-medium-webfont.woff2') format('woff2'),
         url('../fonts/pridi-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pridiregular';
    src: url('../fonts/pridi-regular-webfont.woff2') format('woff2'),
         url('../fonts/pridi-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pridisemibold';
    src: url('../fonts/pridi-semibold-webfont.woff2') format('woff2'),
         url('../fonts/pridi-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gist_rough_uprightblack';
    src: url('../fonts/yellow_design_studio_-_gist_rough_upr_black-webfont.woff2') format('woff2'),
         url('../fonts/yellow_design_studio_-_gist_rough_upr_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gist_rough_uprightbold_two';
    src: url('../fonts/yellow_design_studio_-_gist_rough_upr_bold_two-webfont.woff2') format('woff2'),
         url('../fonts/yellow_design_studio_-_gist_rough_upr_bold_two-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gist_rough_uprightXBdtwo';
    src: url('../fonts/yellow_design_studio_-_gist_rough_upr_exbold_two-webfont.woff2') format('woff2'),
         url('../fonts/yellow_design_studio_-_gist_rough_upr_exbold_two-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}