*, *:before, *:after {
  box-sizing: border-box;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

.hidden {
  display:none !important;
}

.last {
  margin-right:0px !important;
}

.left {
  float:left;
}

.right {
  float:right;
}

.v-align {
  vertical-align: middle;
  display:table-cell;
}

.ta-left {
  text-align:left;
}

.ta-right {
  text-align:right;
}

.ta-center {
  text-align:center;
}

img {
  vertical-align: middle;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 { 
  margin-top: 0;
  margin-bottom: 15px;
  font-weight:normal;
}

h1, .h1 { font-size: 40px; }
h2, .h2 { font-size: 32px; }
h3, .h3 { font-size: 26px; }
h4, .h4 { font-size: 18px; }
h5, .h5 { font-size: 16px; }
h6, .h6 { font-size: 14px; }

figure, .figure {
	margin:0px;
  img {
    width:inherit;
    height:inherit;
    display:block;
  }
}

p {
  margin-top: 0; 
}

a { 
  color: #1EAEDB; 
  text-decoration: none;
}

a:hover { 
  color: #0FA0CE; 
}

ul.no-list, 
ol.no-list {
	margin:0px; 
	padding:0px;
	list-style-type:none;
}

input,
textarea {
  outline:none;
  resize:none;
}


